#collegeGroup-preview-background{
    width: 200px;
    height: 180px;
    background-color: #66D3FA;
    margin: 4px;
    border-radius: 25%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#collegeGroup-preview-background:hover{
    opacity: 0.8;
}

#collegeGroup-preview-name{
    color: whitesmoke;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50%;
    height: 50%;
}