*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Kanit', sans-serif;
}
#login-wrap{
    height: 100vh;
    background-image: linear-gradient(to bottom right, #3C99DC, #66D3FA);
}

.credentials{
    position: relative;
    top: 2rem;
}

#buttons{
  display: flex;
  flex-wrap: nowrap;
}

#register-button{
    background-color: #3C99DC;
    color: whitesmoke;
    font-size: 12px;
    font-weight: bolder;
    border-radius: 9%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
    height: 2rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #49d5d1;
    cursor: pointer;
    position: relative;
    left: 0.5rem;
    text-decoration: none;
}

#login-button{
    background-color: #3C99DC;
    color: whitesmoke;
    font-size: 12px;
    font-weight: bolder;
    border-radius: 9%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
    height: 2rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #49d5d1;
    cursor: pointer;
    position: relative;
    right: 0.5rem;
}

#register-button:hover{
    opacity: 0.7;   
}

#login-button:hover{
    opacity: 0.7;
}

#login{
    font-family: 'Kanit', sans-serif;
    height: 60%;
    width: 30%;
    position: absolute;
    top: 20%;
    right: 35%;
    background-color: whitesmoke;
    border-radius: 50%;
    border: 2px solid #3C99DC;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.2);
}

input{
    border: 0;
    border-bottom: 0.5px solid #49d5d1;
    height: 30px;
    background-color: whitesmoke;
}

input:focus{
    outline: 0;
    border-bottom: 3px solid #49d5d1;
}

#university-zone-text{
    color: white;
    font-size: 600%;
    text-align: center;
    left: 50%;
}

@media only screen and (max-width: 1000px){

    #login{
        border-radius: 0;
        width: 50%;
        height: 40%;
        position: absolute;
        top: 30%;
        right: 25%;
    }

    input{
        height: 25px;
    }

    #university-zone-text{
        font-size: 400%;

    }
}